<h5>
  Constats lors des dernières visites des issues du tunnel : {{tunnel}}
</h5>
<div style="width: 100%;">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef> Issue </th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
      </ng-container>
    
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Derniere visite </th>
        <td mat-cell *matCellDef="let element"> {{element.date|date:'dd/MM'}} </td>
      </ng-container>

      <ng-container matColumnDef="porte">
        <th mat-header-cell *matHeaderCellDef> Etat Porte</th>
        <td mat-cell *matCellDef="let element"> {{element.porte}} </td>
      </ng-container>
    
      <ng-container matColumnDef="eclairage">
        <th mat-header-cell *matHeaderCellDef> Etat Eclairage</th>
        <td mat-cell *matCellDef="let element"> {{element.eclairage}} </td>
      </ng-container>
    
      <ng-container matColumnDef="surpr">
        <th mat-header-cell *matHeaderCellDef> Etat Surpression</th>
        <td mat-cell *matCellDef="let element"> {{element.surpr}} </td>
      </ng-container> 
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row 
      class="row"
      *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
 
    </div>
